@font-face{
    font-family: mafiaFont;
    src:url(MAFIA.TTF)
}
.MAFIA{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: mafiaFont;
    font-size: 10vh;
}
body{
    background-image: url(./Fallout\ Gangster\ Wallpaper\ by\ HodnasX.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input{
    background-color: red;
}
.player{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 15vh;
}
.roles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1vh;
}
 button{
    width: 4vh;
    height: 4vh;
 }
 .music{
    position: absolute;
    right: 1vh;
    top: 1vh;
 }
 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #493e29;
 }
 .dead{
    margin-left: 5vh;
 }
 .reload{
    position: absolute;
    left: 5vh;
    top: 5vh;
    width: 10vh;
 }
